/* Initializing */
*{
    margin: 0;
    padding: 0;
}

/* Container Section  */
.container{
    border: 2px solid none;
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div > h1{
    font-weight: bold;
    font-size: 2.3rem;
}

